<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="YATRIK ERP Test Suite" parallel="false">
    <test name="Complete Authentication Tests - Sequential for Visibility">
        <classes>
            <class name="com.yatrik.erp.tests.AdminLoginTest"/>
            <class name="com.yatrik.erp.tests.SuperAdminLoginTest"/>
            <class name="com.yatrik.erp.tests.PassengerLoginTest"/>
            <class name="com.yatrik.erp.tests.ConductorLoginTest"/>
            <class name="com.yatrik.erp.tests.DepotLoginTest"/>
            <class name="com.yatrik.erp.tests.VendorLoginTest"/>
            <class name="com.yatrik.erp.tests.RegistrationTest"/>
        </classes>
    </test>
</suite>
